@{
    ViewBag.Title = "Index";
}
<!--Empresa 01-->
<div class="Empressa-menu">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Home/DetalhesEmpresa" class="thumbnail">
                <img src="~/Imagens/amor_virtual_ax1.jpg" />
            </a>
        </div>
    </div>
    <div class="empresaSobre">
        <h2>FArr</h2>
        <p>Faculdades associadas de Ariquemes</p>
    </div>
</div>

    <!--Empresa02-->
<div class="Empressa-menu">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Home/DetalhesEmpresa" class="thumbnail">
                <img src="~/Imagens/amor_virtual_ax1.jpg" />
            </a>
        </div>
    </div>
    <div class="empresaSobre">
        <h2>FArr</h2>
        <p>Faculdades associadas de Ariquemes</p>
    </div>
</div>
  <!--Empresa03-->
<div class="Empressa-menu">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Home/DetalhesEmpresa" class="thumbnail">
                <img src="~/Imagens/amor_virtual_ax1.jpg" />
            </a>
        </div>
    </div>
    <div class="empresaSobre">
        <h2>FArr</h2>
        <p>Faculdades associadas de Ariquemes</p>
    </div>
</div>
